.slide {
  max-width: 100vw !important;
  max-height: 100vh !important;
}

.title {
  text-transform: uppercase;
  font-size: 5rem !important;
}

.slide-body {
  font-size: 2rem !important;
}

.codeStatic {
  margin-bottom: 10px !important;
  width: 100% !important;
}

.link {
  font-size: 30px;
  text-decoration: none;
  color: #03A9FC;
}
